$pseudo_box: 28px;

@mixin item() {
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    font: 14px/28px "Arial";
    font-weight: 400;
    color: #707275;
    padding: 0 8px 0 $pseudo_box;
    position: relative;
    background: url("./../img/menu_pattern_bg.png") repeat top left;
    text-transform: capitalize;
    border: 1px solid rgba(200, 200, 200, 0.85);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.04),
    0 0 9px rgba(0, 0, 0, 0.12),
    inset 0 0 0 1px #fff;

    &::before {
        position: absolute;
        top: 50%;
        left: ($pseudo_box / 2);
        transform: translate(-50%, -50%);
        display: inline-block;
        content: '';
        width: 12px;
        height: 10px;
    }
}

.list {
    $self: &;
    position: relative;
    font-size: 0;
    display: flex;
    align-items: flex-start;

    &__input {
        display: none;

        &:not(:checked) ~ [data-item] {
            display: none;

            &::before {
                background-image: url("./../img/burger.png");
            }
        }

        &#tanks:checked ~ [data-item="tanks"],
        &#warplanes:checked ~ [data-item="warplanes"],
        &#warships:checked ~ [data-item="warships"] {
            display: block;
        }

        &#tanks:checked ~ #{$self}__labels [for="tanks"],
        &#warplanes:checked ~ #{$self}__labels [for="warplanes"],
        &#warships:checked ~ #{$self}__labels [for="warships"] {
            &::before {
                width: 13px;
                height: 6px;
                background-image: url("./../img/arrow.png");
            }
        }
    }

    &__labels {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 2;
        opacity: 0;

        animation-name: hide_list;
        animation-duration: 0.2s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
    }

    &__label {
        @include item();
    }

    &__current {
        @include item();
        z-index: 1;
        outline: none;

        &:focus {
            & ~ #{$self}__labels {
                opacity: 1;
                animation-name: none;
            }
        }
    }

    @media (min-width: 801px) {
        &__input {
            &#tanks:checked ~ #{$self}__labels [for="tanks"],
            &#warplanes:checked ~ #{$self}__labels [for="warplanes"],
            &#warships:checked ~ #{$self}__labels [for="warships"] {
                //border: 1px solid red;
                color: #eff0f1;
                background: #707275;
            }
        }

        &__current {
            display: none!important;
        }

        &__labels {
            position: relative;
            opacity: 1;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 300px;
            animation-name: none;
        }

        &__label {
            line-height: 22px;
            border-radius: 3px;
            padding-left: 8px;

            box-shadow: none;
            border-color: transparent;

            &:not(:last-child)  {
                margin-right: 5px;
            }

            &::before {
                display: none;
            }
        }
    }

    @media (min-width: 901px) {
        &__labels {
            flex-wrap: nowrap;
            max-width: 100%;
        }
    }
}

@keyframes hide_list {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font: 14px/30px "Arial";
    font-weight: 400;
    color: #707275;

    &__item {
        margin:20px;
        padding-left: $pseudo_box;
        position: relative;
        background: url("./../img/menu_pattern_bg.png") repeat top left;
        text-transform: capitalize;
        border: 1px solid rgba(200, 200, 200, 0.85);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.04),
                    0 0 9px rgba(0, 0, 0, 0.12),
                    inset 0 0 0 1px #fff;

        &::before {
            position: absolute;
            top: 50%;
            left: ($pseudo_box / 2);
            transform: translate(-50%, -50%);
            display: inline-block;
            content: '';
            width: 12px;
            height: 10px;
            background-image: url("./../img/burger.png");
        }
    }
}