
.widget {
    height: 730px; /* avoid jumps for relative positioned SelectionEditor, visual temp fix */
    font: 12px/1.5 "Arial", sans-serif;

    &__heading {
        font-size: 16px;
        margin: 1em 0;
        color: #242424;
    }

    &__change-btn {
        cursor: pointer;
        color: white;
        border: none;
        background: green;
        padding: 7px 12px;

        margin-bottom: 30px;
    }
}